.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.pdn
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
exampleProject
img
*.md

# DO NOT IGNORE THESE FILES
!README.md
!dist